/* ------------------------ */
/* Custom properties        */
/* ------------------------ */

:root {
	--clr-yellow: #fede31;
	--clr-light: #fbf7da;
	--clr-brown: #665800;
	--clr-green: #8cae59;
	--clr-blue: #0088d2;
	--clr-gray: #bebebe;
	--clr-dark-gray: #6d6d6d;

	--fz-default: 23px;
}

/* ------------------------ */
/* Reset                    */
/* ------------------------ */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove bold style from headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	font-family: "ZabraProRegular", sans-serif;
	font-size: var(--fz-default);
	background-color: var(--clr-light);
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

a[class] {
	text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
	padding: 0;
	margin: 0;
	min-width: 0;
	outline: none;
	border: none;
	background-color: transparent;
}

/* remove arrows from number input fields */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ------------------------ */
/* Base                     */
/* ------------------------ */

span:not([class]):empty {
	margin: 0 !important;
}

input,
select,
.select,
.select ul {
	border: 1px solid #e3dcb2;
	border-radius: 5px;
	padding: 0 15px;
}

*[role="checkbox"] {
	cursor: pointer;
}

/* ------------------------ */
/* Utilities                */
/* ------------------------ */

.lock {
	overflow: hidden;
}

.hidden {
	display: none;
}

.container {
	max-width: 1450px;
	margin: 0 auto;
	padding: 0 30px;
}

.flex {
	display: flex;
}

.flex > *:not(:last-child) {
	margin-right: var(--flex-gap);
}

.grid {
	display: grid;
}

.bottom-line {
	border-bottom: 1px solid var(--clr-gray);
}

.flow > * + * {
	margin-top: var(--flow-gap, 1rem);
}

.avatar-circle {
	border-radius: 50%;
}

.avatar-square {
	border-radius: 6px;
}

.show-on-adv-item-hover {
	opacity: 0;
}

.adv-item:hover .show-on-adv-item-hover {
	opacity: 1;
}

/* ------------------------ */
/* Components               */
/* ------------------------ */

/* modal */
.modal {
	display: none;
	place-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal__content {
	position: relative;
	background-color: #fff;
}

.modal__content {
	padding: 80px;
}

.modal--visible {
	display: grid;
}

.modal__close-btn {
	cursor: pointer;
	font-size: 40px;
	position: absolute;
	top: -60px;
	right: -60px;
}

/* tab-links */
.tab-links .active {
	color: var(--clr-blue);
	border-bottom: 1px dotted;
}

.tab-links--red .active {
	color: #ff0000;
}

.tab-link span {
	pointer-events: none;
}

/* checkbox */
.checkbox {
	position: relative;
	min-width: var(--checkbox-size, 30px);
	aspect-ratio: 1;
	display: grid;
	place-content: center;
	border-radius: 7px;
	background: linear-gradient(0deg, #e6e6e7 0%, #f4f5f6 100%), #e3dcb2;
}

.checkbox.active .checkbox__inner {
	background-color: #ffdd00;
}

.checkbox__inner {
	width: 13px;
	height: 13px;
	box-shadow: 0 0 0 4px #fff, 0 0 0 6px #e4ddb4;
	padding: 2px;
	background-color: #fff;
	pointer-events: none;
}

/* select */
.select {
	cursor: pointer;
	position: relative;
	min-width: 320px;
}

.select ul {
	overflow: hidden;
	padding: 0.3em 1em;
	position: absolute;
	background-color: var(--clr-light);
	width: 100%;
	top: 100%;
	left: 0;
}

.select span {
	position: relative;
	display: block;
}

.select ul[data-expanded="false"] {
	height: 0;
	padding: 0;
	border: none;
}

.select span[data-empty="true"] {
	color: #777777;
}

.select ul li:hover {
	color: var(--clr-blue);
}

.select ul li[data-default="true"] {
	opacity: 0.6;
}

.select ul li[data-selected="true"] {
	color: var(--clr-blue);
}

/* action-btn */
.action-btn {
	display: block;
	border-radius: 5px;
	background-color: #ffc000;
	color: var(--clr-brown);
	padding: 0.3em 1.1em;
}

.action-btn--red {
	color: #fff;
	background-color: #ff4949;
}

.action-btn.disabled {
	pointer-events: none;
	background: linear-gradient(0deg, #e6e6e7 0%, #f4f5f6 100%), #e3dcb2;
}

/* PRIMARY HEADER */
.primary-header {
	min-height: 100px;
	background-color: var(--clr-yellow);
	display: flex;
	flex-direction: column;
}

.primary-header > * {
	flex-grow: 1;
	border-bottom: 1px solid #ffe53b;
}

/* content-header */
.content-header {
	margin: 30px 0;
}
.content-header h1 {
	color: #665800;
	font-family: "ZabraProMedium", sans-serif;
	font-size: 33px;
}

/* breadcrumb */
.breadcrumb ul {
	display: flex;
}

.breadcrumb a {
	color: #665800;
	text-decoration: none;
	font-size: 23px;
}

.breadcrumb li:not(:last-child) a {
	border-bottom: 1px dotted #463d00;
}

.breadcrumb li:not(:last-child):after {
	color: #665800;
	margin: 0 7px;
	font-size: 23px;
	display: inline-block;
	content: "/";
}

.breadcrumb li:last-child a {
	pointer-events: none;
	text-decoration: none;
}

/* white background on several components */
.filters .container,
.actions.container,
.ads .container {
	background-color: #fff;
}

/* common styles for all filters and actions*/
.filters,
.actions {
	font-size: 21px;
}
.adv-filter-state a,
.adv-filter-type a,
.adv-filter-period a {
	color: var(--clr-brown);
	text-decoration: none;
}

.filters .container {
	padding-top: 15px;
}

.adv-filter-price .icon,
.adv-filter-region .icon,
.adv-filter-title .icon {
	position: absolute;
	height: 100%;
	aspect-ratio: 1;
	top: 0;
	right: 0;
	display: grid;
	place-content: center;
	font-size: 18px;
}

/* adv-top-filters */
.adv-top-filters {
	justify-content: space-between;
	flex-wrap: wrap;
}

/* adv-filter-state */
.adv-filter-state ul {
	flex-wrap: wrap;
}

.adv-filter-state a > span + span {
	margin-left: 5px;
}

/* adv-filter-region */
.adv-filter-region span.text {
	position: relative;
}

.adv-filter-region span:not(.text) {
	font-size: 13px;
}

/* input filters */
.adv-input-filters {
	justify-content: space-between;
	flex-wrap: wrap;
}

.adv-input-filters input,
.adv-input-filters select,
.adv-input-filters .select {
	padding: 0.3em 1em;
}

.adv-input-filters > * {
	max-width: 350px;
}

.adv-input-filters select {
	height: 100%;
}

.adv-filter-title {
	position: relative;
}

/* adv-filter-periods */
.adv-filter-period {
	padding-bottom: 20px;
}

/* common styles for date and price filters */
.adv-filter-date > input:first-child,
.adv-filter-price > input:first-child {
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.adv-filter-date > input:last-child,
.adv-filter-price > input:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* adv-filters-price */
.adv-filter-price {
	position: relative;
}

.adv-filter-price *:last-child {
	widows: calc(50% + 45px);
}

/* actions */
.actions > .flex {
	justify-content: space-between;
	padding: 16px 0;
}

.action-sort {
	min-width: 350px;
}

/* adv-item */
.adv-item {
	color: var(--clr-dark-gray);
}

.adv-item a {
	text-decoration: none;
	border-bottom: 1px dotted;
	font-family: "ZabraProMedium", sans-serif;
	font-size: 18px;
}

.adv-item__edit-btns a,
.adv-item__links span.icon,
.adv-item__links a {
	color: #ff0000;
}

.adv-item__edit-btns a:hover,
.adv-item__links li:hover a,
.adv-item__links li:hover span.icon {
	color: #9f0101;
}

.adv-item__title {
	color: var(--clr-blue);
	white-space: nowrap;
}

.adv-item__price {
	font-family: "ZabraProMedium", sans-serif;
}

.adv-item__stats .icon {
	font-size: 18px;
	opacity: 0.4;
	margin-right: 5px;
}

.adv-item__stats .responses,
.adv-item__stats .matching-vacancies {
	color: var(--clr-blue);
}

.adv-item__stats > *:hover {
	color: var(--clr-blue);
}

@media (hover: hover) {
	.adv-item__stats .views:hover,
	.adv-item__stats .favourites:hover,
	.adv-item__stats .dialogs:hover {
		color: var(--clr-blue);
	}
}

.adv-item__city-list .service-item a,
.adv-item__get-more-responses a {
	color: var(--clr-green);
}

.adv-item__get-more-responses a:hover,
.adv-item__city-list .service-item a:hover {
	color: #577039;
}

.adv-item__services-content > article:not(:last-child) {
	border-bottom: 1px solid var(--clr-gray);
}

.growth {
	color: var(--clr-green);
}

/* 'fade' effect on overflowing text */
.ovf-fade {
	position: relative;
	overflow: hidden;
}

.ovf-fade:after {
	position: absolute;
	content: "";
	width: 40%;
	height: 100%;
	top: 0;
	right: 0;
	background: linear-gradient(90deg, transparent 60%, var(--ovf-fade-clr));
}

/* ------------------------ */
/* Layout                   */
/* ------------------------ */

/* ads */
.ads > .container {
	padding-bottom: 30px;
}

/* ads__field-names */
.ads__field-names {
	column-gap: 1%;
	grid-template-columns: 11% 15% 16% 1fr 8%;
	padding: 15px;
}

.ads__field-names span {
	font-size: 16px;
	display: grid;
	line-height: 1;
	align-content: center;
}

.ads__field-names--big {
	display: flex;
	flex-wrap: nowrap;
}

.ads__field-names--big > * {
	width: 100%;
	overflow: hidden;
}

.ads__field-names span:nth-child(1) {
	grid-column: 2 / 3;
}

/* ads__items */
.ads__items > *:nth-child(odd) {
	background-color: var(--clr-light);
}

/* adv-item */
.adv-item {
	grid-template-columns: 3% 7% 15% 16% 1fr 8%;
	grid-template-rows: repeat(3, 28px) 1fr;
	column-gap: 1%;
	grid-template-areas:
		"checkbox img left-block city-list stats services"
		"checkbox img left-block city-list get-more-responses services"
		"checkbox img left-block city-list links services"
		".        .        .    city-list links services";
}

.adv-item {
	line-height: 1.2;
	padding: 30px 15px;
}

.checkbox {
	grid-area: checkbox;
	align-self: center;
}

.adv-item__img {
	grid-area: img;
}

.adv-item__img div {
	box-shadow: 0 0 0 4px #fff, 0 0 0 6px #e3e6e9;
	max-height: 100%;
	aspect-ratio: 1;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.adv-item__left-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-area: left-block;
}

.adv-item__edit-btns {
	--flex-gap: 10px;
	flex-wrap: wrap;
}

.adv-item__city-list {
	position: relative;
	align-self: start;
	grid-area: city-list;
}

.adv-item__city-list > li {
	white-space: nowrap;
}

.adv-item__city-list .service-item {
	position: absolute;
	top: 100%;
}

.adv-item__links {
	justify-self: start;
	position: relative;
	grid-area: links;
}

.adv-item__links .icon {
	font-size: 16px;
	margin-right: 5px;
}

.adv-item__links .service-item {
	position: absolute;
	margin-left: 20px;
	left: 100%;
}

.adv-item__get-more-responses {
	justify-self: start;
	align-self: center;
	grid-area: get-more-responses;
}

.adv-item__stats {
	grid-area: stats;
}

.adv-item__stats > * {
	width: 100%;
	cursor: default;
}

.adv-item__services {
	grid-area: services;
	place-self: start;
}

.adv-item__services-wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);

	/*display: grid;*/
	display: none;
	place-content: center;
}

.adv-item__services-content {
	background-color: #fff;
	padding: 0 30px;
}

.adv-item__services-content h4 {
	text-align: center;
	margin-bottom: 10px;
}

.adv-item__services-content > article {
	padding: 10px 0;
}

/* service */
.service {
	line-height: 1;
	column-gap: 15px;
	padding: 10px 0;
	display: grid;
	grid-template-columns: 40px 1fr;
	grid-template-areas:
		"img info"
		"img info";
}

.service a {
	text-decoration: none;
	color: #ff0000;
	border-bottom: 1px dotted #a90101;
}

.service a:hover {
	color: #c50000;
}

.service + .service {
	border-top: 1px solid var(--clr-gray);
}

.service__img {
	width: 50px;
	aspect-ratio: 1;
	grid-area: img;
	place-self: center;
}

.service__img > * {
	width: 100%;
	height: 100%;
}

.service__info {
	grid-area: info;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.service__info > * {
	white-space: nowrap;
}

.service__title {
	grid-area: title;
}

.service__period {
	font-size: 16px;
}

.services-header {
	line-height: 1;
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 0;
}
